* {
    margin: 0;
    padding:0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(10, 10, 81);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
    font-style: normal;
    font-size: 1.1rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: rgb(76, 76, 211);
    font-size: 1.11rem;
}

main hr {
    border: 0;
    background: rgb(69, 59, 201);
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.3rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.firstSection > div {
    width: 35%;
}

.rightSection img {
    width: 80%;
}
.leftSection {
    font-size: 2.5rem;
}

.purple {
    color: rgb(136, 63, 203);
}
.text-gray {
    color: gray;
}
#element {
    color: rgb(136, 63, 203) ;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}
.vertical-desc {
    position: relative;
    top: 86px;
    width: 150px;
    color: gray;
}