* {
    margin: 0;
    padding:0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

/* ..........Header Section................ */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(10, 10, 81);
}
.left {
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    font-style: normal;
    font-size: 1.1rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: rgb(76, 76, 211);
    font-size: 1.11rem;
}


/* ................Main  Section................. */
main hr {
    border: 0;
    background: rgb(69, 59, 201);
    height: 1.2px;
    margin: 50px 84px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection > div {
    width: 30%;
}

.rightSection img {
    width: 90%;
}
.leftSection {
    font-size: 2.1rem;
}
.leftSection .button {
    padding: 20px 0;
}
.leftSection .btn-left {
    padding: 10px 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.leftSection .btn-right {
    padding: 10px 12px;
    background: #bfc1f4;
    color: #0d1055;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.purple {
    color: rgb(85, 83, 233);
}
.text-gray {
    color: gray;
}
#element {
    color: rgb(85, 83, 233);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 20px;
    color: rgb(85, 83, 233);
}
.vertical-desc {
    position: relative;
    top: 86px;
    width: 150px;
    color: gray;
}


/* ...............Footer  Section.............  */

footer {
    background-color: rgb(16, 16, 36);
}

.footer {
    display: flex;
    padding: 23px 70px;
    justify-content: space-evenly;
}
.footer ul {
    list-style: none;
}
.footer ul li a {
    text-decoration: none;
    color: rgb(185, 174, 174);
}

.footer > div {
    width: 223px;
}
footer .footer-right {
    text-align: center;
    color: gray;
    padding: 12px;
}
